.footer {
  background-color: #1e1e1e;
  color: white;
  padding: 3rem 2rem;
  font-family: Arial, sans-serif;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  width: 100%;
}

.footer-left,
.footer-right {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  font-weight: bold;
  
}

a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
}

/* Colonne du centre */
.footer-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo {
  width: 250px;
  margin-bottom: 0.7rem;
}

/* Texte des droits sous le logo */
.footer-bottom {
  font-size: 1rem;
  font-weight: bold;
}